ENVIRONMENT='dev'
x-api-key='change-me-1234'

# Logging configuration
# Path to log file
LOG_FILE=logs/app.log
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
# Required for LogTail integration
LOGTAIL_TOKEN='TODO_logtail_token_here'
LOGTAIL_HOST='TODO_logtail_host_here'
# Set to 'enabled' to force LogTail usage
LOGTAIL_FORCE_USAGE=disabled
