ENVIRONMENT='dev'
x-api-key='change-me-1234'

# Logging configuration
# Path to log file
LOG_FILE=logs/app.log
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
# Required for LogTail integration
LOGTAIL_TOKEN='TODO_logtail_token_here'
LOGTAIL_HOST='TODO_logtail_host_here'
# Set to 'enabled' to force LogTail usage
LOGTAIL_FORCE_USAGE=disabled
# API Keys (Required to enable respective provider)
OPEN_AI_API_KEY="example"
CEREBRAS_API_KEY="example"
X_API_KEY="example"
OPEN_AI_API_ENDPOINT="https://api.openai.com/v1/chat/completions"
AWS_ACCESS_KEY_ID="example"
AWS_SECRET_ACCESS_KEY="example"
ENVIRONMENT="dev"
